.archive-article
  avoid-column-break()

.archive-article-inner
  @extend $block
  padding: 4px
  margin-left: 10px

.archive-title
  display: inline-block

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-link
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-header
  i
    color: color-default

.archive-article-date
  color: color-default
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: inline-block

.center
  text-align: center
