#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

.outer
  text-align: center

#footer-info
  line-height: line-height
  font-size: 0.85em

#gotop
  width: 36px
  height: 36px
  position: fixed
  bottom: 40px
  right: 30px
  border-radius: 50%
  text-decoration: none
  background-color: color-grey
  color: #fff
  line-height: 36px
  font-size: 30px
  text-align: center
  font-weight: 700
  display: none
  &:focus
    outline:none
