{% extends "contest/contest_base.html" %}
{% block contest_content %}
  <div class="container">
  <table class="table table-hover">
    <thead>
      <th width="20%" style="text-align:left;">题目id</th>
      <th width="20%">标题</th>
      <th width="20%">时间限制(ms)</th>
      <th width="20%">内存限制(kb)</th>
      <th width="20%">AC数</th>
    </thead>
    <tbody>
      {% for problem in contest_problems %}
        <tr>
          <td style="text-align:left;">
            <a href="/contest/{{contest.contest_id}}/problem/{{problem.id_in_contest}}">
              {{problem.id_in_contest}}
            </a>
          </td>
          <td style="text-align:left;">
            <a href="/contest/{{contest.contest_id}}/problem/{{problem.id_in_contest}}">
              {{problem.raw_problem.title}}
            </a>
          </td>
          <td>{{problem.raw_problem.time_limit}}</td>
          <td>{{problem.raw_problem.memory_limit}}</td>
          <td>{{problem.ac}}</td>
        </tr>
      {% endfor %}  
    </tbody>
  </table>
  <center>{% include 'cugbacm/pagination.html' %}</center>
  </div>
{% endblock %}
