<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >
    <link rel="shortcut icon" href="/site_media/docs-assets/ico/favicon.png">
    <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <script type="text/javascript" src="/site_media/dist/js/bootstrap.js"></script>
    
    <title>Add Problem</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">
    
    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container" >

      <form class="form-signin" role="form" action="/index/addProblem/" method="post" enctype="multipart/form-data" accept-charset="utf-8">{% csrf_token %} 
        <input type="text" class="form-control" placeholder="title" name="title" required>
        <input type="text" class="form-control" placeholder="timeLimit" name="timeLimit" required>
        <input type="text" class="form-control" placeholder="memoryLimit" name="memoryLimit" required>
        <input type="textarea" rows="5" class="form-control" placeholder="description" name="description" required>
        <input type="textarea" rows="5" class="form-control" placeholder="input" name="input" required>
        <input type="textarea" rows="5" class="form-control" placeholder="output" name="output" required>
			<input type="textarea" rows="5" class="form-control" placeholder="sampleInput" name="sampleInput" required>
		<input type="textarea" rows="5" class="form-control" placeholder="sampleOutput" name="sampleOutput" required>
        <input type="file" class="form-control" placeholder="data.in" name="dataIn" required>
        <input type="file" class="form-control" placeholder="data.out" name="dataOut" required>
        <button class="btn btn-lg btn-primary" type="submit">Add Problem</button>
      </form>

    </div> <!-- /container -->
   </body>
</html>
