<!DOCTYPE html>
<html lang="zh-cn">
{% load pagination_tags %} 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >
    <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <script type="text/javascript" src="/site_media/dist/js/bootstrap.js"></script>
    <title>Problem List</title>
    <!-- Bootstrap core CSS -->
    <link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
   <style type="text/css" title="currentStyle">
        @import "/site_media/DataTables-1.9.4/media/css/demo_page.css";
        @import "/site_media/DataTables-1.9.4/media/css/demo_table.css";
        @import "/site_media/DataTables-1.9.4/media/css/demo_table_jui.css";
	</style>
	<script type="text/javascript" language="javascript" src="/site_media/DataTables-1.9.4/media/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="/site_media/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
  <script src="/site_media/dist/js/stickUp-master/stickUp.min.js"></script>
  </head>
  <body style="padding-top:70px">
    <div class="container">      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		    <ul class="nav nav-tabs">
          <li><a href="/index/problemList">Home Page</a></li>
			    <li><a href="/index/contestList">Contest List</a></li>
          <li class="active"><a href="#">Problem List</a></li>
		    	<li><a href="/index/contest/{{contest.contestID}}/submitList">Submit List</a></li>
		    	<li><a href="/index/contest/{{contest.contestID}}/rankList">Rank List</a></li>
		    	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{userID}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/index/userInfo/{{userID}}">User Info</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="/index/login">Login out</a></li>
            </ul>
          </li>
        </ul>
    <marquee id="affiche" align="left" behavior="alternate" bgcolor="#FFFFFF" direction="right" width=100%  loop="-1" scrollamount="1" scrolldelay="10" onMouseOut="this.start()" onMouseOver="this.stop()">
        <font color=red>新OJ还在建设当中，欢迎大家提出一些实用的需求，Orz.......763687347@qq.com
      </marquee>
      </nav>
      <div class = "row" style="padding-top:20px">
        <div class = "col-md-12"><p class = "text-center" style="font-size:36px; color:inherit; font-weight: 700;">{{contest.title}}</p></div>
      </div>
      <div class = "row">
        <div class = "col-md-12">
          <p class = "text-center" style="font-size:18px; color:#16A085;"> Start Time:{{contest.startTime}} {{contest.startTimestamp}} &nbsp; &nbsp; End Time:{{contest.endTime}} {{contest.endTimestamp}}  &nbsp; &nbsp; Status: {{contest.status}} </p>
        </div>
      </div>
     {% autopaginate problems 50 %}
    <div class="table-responsive">
 <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	    <thead>  
          <tr>  
            <th>ProblemID</th>
            <th>Title</th>  
            <th>Time Limit</th>
            <th>Memory Limit</th>
            <th>Accepted Submission</th>
            <th>Total Submission</th>  
          </tr>  
        </thead>  
        <tbody>
          {% for problem in problems %}
            <tr class="odd gradeX">
              <td>
                <a href="/index/contest/{{contest.contestID}}/problem/{{problem.problemID}}">
                  {{problem.problemID}}
                </a>
              </td>
              <td>
                <a href="/index/contest/{{contest.contestID}}/problem/{{problem.problemID}}">
                  {{problem.title}}
                </a>
              </td>
              <td>{{problem.timeLimit}}</td>
              <td>{{problem.memoryLimit}}</td>
              <td>{{problem.ac}}</td>
              <td>{{problem.totalSubmission}}</td>
            </tr>
          {% endfor %}  
        </tbody>  
      </table>
    </div>
    {% paginate %}
      <script>
	      $(document).ready(function() {
	      	$('#example').dataTable({
	      	"bPaginate": false,
          "bFilter": false, 
	      	});
		} );
	</script>
  <script type="text/javascript">
  //initiating jQuery
  jQuery(function($) {
  $(document).ready( function() {
  //enabling stickUp on the '.navbar-wrapper' class
  $('.navbar-wrapper').stickUp();
  });
  });
  </script>
	</div>
  </body>
</html>
