<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">

  {% load staticfiles %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="{% static 'flatui/dist/css/flat-ui.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'flatui/dist/img/favicon.ico' %}">

</head>
