<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >
    <link rel="shortcut icon" href="/site_media/docs-assets/ico/favicon.png">
    <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">
	<link href="/site_media/dist/css/signin.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
    $(function(){
    $("#submit").click(function(){
       //alert($("#userid").val());
        $.post("/index/login/",
        { 
            userID:$("#userid").val(),
           password:$("#password").val() 
        },
        function(data, status){
            if(data == 'success'){
             window.location = '/index/problemList';
            }else if(data == 'password error!'){
                  alert('password error');	   
 		}
            else{
                alert(data);  
             }
        });
    });   
    });
    </script>
  </head>

  <body>

    <div class="container" >
      <form class="form-signin" role="form" action="/index/login/" method="post">{% csrf_token %} 
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id = "userid" class="form-control" placeholder="UserID" name="userID" required autofocus />
        <input type="password" id = "password"  class="form-control" placeholder="Password" name="password" required />
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" id = "submit" type="button">Sign in</button>
		<a href="/index/register"><button class="btn btn-lg btn-primary btn-block" id="register" type="button">Register</button></a>
      </form>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
