<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >
    <link rel="shortcut icon" href="/site_media/docs-assets/ico/favicon.png">
    <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <title>Login</title>

    <!-- Bootstrap core CSS -->
   <!-- <link rel="stylesheet/less" type="text/css" href="/site_media/Flat-UI-master/less/modules/share.less">
    <link rel="stylesheet/less" type="text/css" href="/site_media/Flat-UI-master/less/modules/switch.less">-->
    <link href="/site_media/Flat-UI-master/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
    <link href="/site_media/dist/css/signin.css" rel="stylesheet">
    <link href="/site_media/Flat-UI-master/css/demo.css" rel="stylesheet">
   <!-- <script language="javascript" type="text/javascript" src="/site_media/dist/js/less-1.7.5.min.js"></script>-->
   <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/site_media/dist/js/html5shiv.min.js"></script>
      <script src="/site_media/dist/js/respond.min.js"></script>
    <![endif]-->
    <script>
    $(function(){
    $("#submit").click(function(){
       //alert($("#userid").val());
        $.post("/index/login/",
        { 
            userID:$("#userid").val(),
           password:$("#password").val() 
        },
        function(data, status){
            if(data == 'success'){
             window.location = '/index/problemList';
            }else if(data == 'password error!'){
                  alert('password error');	   
 		}
            else{
                alert(data);  
             }
        });
    });   
    });
    </script>
  </head>

  <body>
   <div class="container">
    <form class="" role="form" action="/index/login/" method="post">{% csrf_token %}
    <div class="login">
      <div class="login-screen">
        <div class="login-icon">
          <img src="/site_media/Flat-UI-master/images/icons/png/Toilet-Paper.png" alt="Welcome to OJ 2.0" />
          <h4>Welcome to <small>OJ 2.0</small></h4>
        </div>
        <div class="login-form">
           <div class="form-group">
             <input type="text" id = "userid" class="form-control login-field" placeholder="UserID" name="userID" required autofocus />
           </div>
           <div class="form-group">
             <input type="password" id = "password"  class="form-control login-field" placeholder="Password" name="password" required />
           </div>
                          <!-- <div class="bootstrap-switch-square">
                                             <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-custom-switch-03 bootstrap-switch-animate bootstrap-switch-on"><div class="bootstrap-switch-container" style=""><span class="bootstrap-switch-handle-on bootstrap-switch-primary"><span class="fui-check"></span></span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default"><span class="fui-cross"></span></span><input type="checkbox" checked="" data-toggle="switch" id="custom-switch-03" data-on-text="&lt;span class='fui-check'&gt;&lt;/span&gt;" data-off-text="&lt;span class='fui-cross'&gt;&lt;/span&gt;"></div></div>
                                                             </div>
                              -->                                
          <label class="checkbox">
             <span class="icons">
               <span class="first-icon fui-checkbox-unchecked"></span>
               <span class="second-icon fui-checkbox-checked"></span>
             </span>
             <input type="checkbox" value="remember-me"><font style="color:gray;">Remember me</font>
           </label>
             <div class="form-group">
             <button class="btn btn-lg btn-primary btn-block" id = "submit" type="button">Sign in</button></div>
             <a href="/index/register"><button class="btn btn-lg btn-primary btn-block" id="register" type="button" style="">Register</button></a> 
        </div>
      </div>
     </div>
     </form>
     <!-- <form class="form-signin" role="form" action="/index/login/" method="post">{% csrf_token %} 
        <h3 class="form-signin-heading">Please sign in</h3>
        <input type="text" id = "userid" class="form-control" placeholder="UserID" name="userID" required autofocus />
        <input type="password" id = "password"  class="form-control" placeholder="Password" name="password" required />
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" id = "submit" type="button">Sign in</button>
		    <a href="/index/register"><button class="btn btn-lg btn-primary btn-block" id="register" type="button">Register</button></a>
      </form>
      </div>-->
   
   </div><!--container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
   <script src="/site_media/Flat-UI-master/dist/js/flat-ui.min.js"></script>
   <script src="/site_media/Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
