<html lang="zh-cn">
  <head>
    {% load pagination_tags  %} 
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta http-equiv="Content-type" content = "text/html; charset = UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >

    <title>{{problem.title}}</title>

    <!--<link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">-->
    <link href="/site_media/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/site_media/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
   <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <script type="text/javascript" src="/site_media/dist/js/bootstrap.js"></script>
   <!-- <script src="/site_media/run_prettify.js"></script>
   <script type="text/javascript" src="/site_media/bootstrap-affix.js"></script>-->

   <!-- <script charset="utf-8" src="/site_media/kindeditor_a5/kindeditor-4.1.10/kindeditor.js"></script>
   <script charset="utf-8" src="/site_media/kindeditor_a5/kindeditor-4.1.10/lang/zh_CN.js"></script>-->

    <style type="text/css" title="currentStyle">
        @import "/site_media/DataTables-1.9.4/media/css/demo_page.css";
        @import "/site_media/DataTables-1.9.4/media/css/demo_table.css";
        @import "/site_media/DataTables-1.9.4/media/css/demo_table_jui.css";
  </style>
  <script type="text/javascript" language="javascript" src="/site_media/DataTables-1.9.4/media/js/jquery.js"></script>
  <script type="text/javascript" language="javascript" src="/site_media/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>


  </script>

  <script type="text/javascript" charset="utf-8">
     window.UEDITOR_HOME_URL = "/site_media/ueditor/";
  </script>
  <script type="text/javascript" charset="utf-8" src="/site_media/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/site_media/ueditor/ueditor.all.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/site_media/ueditor/ueditor.parse.js"></script>
  <link rel="stylesheet" type="text/css" href="/site_media/ueditor/themes/default/ueditor.css"/>    


  <body style="padding-top:70px;">
    <!--<div class="container">-->
      <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
              <ul class="nav nav-tabs">
                <li>
                  <a href="/index/problemList/">Problem List</a>
                </li>
                <li>
                  <a href="/index/submitList/">Submit List</a>
                </li>
                <li>
                  <a href="/index/contestList">Contest List</a>
                </li>
                <li>
                  <a href="/index/userList">User List</a>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{userID}}<span class="caret"></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/index/userInfo/{{userID}}">User Info</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a href="/index/login/">Login Out</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <marquee id="affiche" align="left" behavior="alternate" bgcolor="#FFFFFF" direction="right"  width=100%  loop="-1" scrollamount="1" scrolldelay="10" onMouseOut="this.start()" onMouseOver="this.stop()">
                <font color=red>新OJ还在建设当中，欢迎大家提出一些实用的需求，Orz.......763687347@qq.com
              </marquee>
              </nav>
    
 <form class="form-horizontal" role="form" action="/index/addproblem/" method="post">{% csrf_token %}
          <div class="row-fluid" >
            <div class="col-md-7" role="main">
              <h3>problemid:</h3>
              <pre> <input type = "text" id = 'p_Id' name = 'p_Id' value = "{{ problem.problemID }}"></pre>
              <h3>problemTitle:</h3>
              <pre> <input type = "text" id = 'problem_title' name = 'problem_title' value = "{{problem.title}}"></pre>
              <h3>timelimit:</h3>
              <pre> <input type = "text" id = 'problem_tlimit' name = 'problem_tlimit' value = "{{problem.timeLimit}}"></pre>
              <h3>memorylimit:</h3>
              <pre> <input type = "text" id = 'problem_mlimit' name = 'problem_mlimit' value = "{{problem.memoryLimit}}"></pre>
              <h3>
                descriptioin<h5>
              </h3>
              (如果需要添加图片，请先把图片上传至服务器<a href = "/index/uploadimage">(上传地址)</a>，然后点击多图上传-插入图片，然后在地址中输入/site_media/images/题目ID/图片名称.后缀（可以调整大小）)</h5>
              <textarea id="problem_des" name="problem_des" style="width:700px;line-height:18px;min-height:200px"> {{problem.description}}</textarea> 
                 <!-- <script type="text/plain" id="problem_des" name="mycontent" style="width:719px; height:450px"> 
                      填写内容
                 </script>
                 <script type="text/javascript">
                     var ue = UE.getEditor('problem_des');
                   </script>
                   -->
              <h3>
                input
              </h3>
              <textarea id = "problem_input" name = "problem_input" style="width:700px; height:200px" >{{problem.input}}</textarea>
              <h3>
                output
              </h3>
              <textarea id = "problem_output" name = "problem_output" style="width:700px; height:200px">{{problem.output}}</textarea>
              <h3>
                sample input
              </h3>
              <textarea id = "problem_sinput" name = "problem_sinput" style="width:700px;height:200px">{{problem.sampleInput}}</textarea>
              <h3>
                sample output
              </h3>
              <textarea id = "problem_soutput" name = "problem_soutput" style="width:700px; height:200px">{{problem.sampleOutput}}</textarea>
              <h3>
                hint
              </h3>
              <textarea id = "problem_hint" name = "problem_hint" style="width:700px; height:200px" >{{problem.title}}</textarea>
              <h3>
                author
              </h3>
              <pre> <input type = "text" id = "problem_author" name = "problem_author" value = "{{problem.author}}"> </pre>
              <h3>
                visible
              </h3>
              请输入True或者False
              <pre> <input type = "boolean" id = "problem_visible" name = "problem_visible" value = "{{problem.visible}}"> </pre>
              <h3> VISIBLE: <input checked = "checked" id = "problem_visible1" name = "problem_visible1" type = "checkbox"></h3>
           </div>
          </div>
        </div>
      </div>

     <div class="col-md-2">
       <button class="btn btn-primary" type="submit">Save</button>
     </div>

  </form>
  <script> 
    var ue=new UE.ui.Editor();
    ue.render('problem_des');
  </script>
  </body>
</html>
