<!DOCTYPE html>
<html lang="zh-cn">
{% load pagination_tags %} 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >
    <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <script src="/site_media/iCheck-master/icheck.js"></script>
    <script type="text/javascript" src="/site_media/dist/js/bootstrap.min.js"></script>
    <title>{{contest.title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="/site_media/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/site_media/Flat-UI-master/bootstrap/css/docs.min.css" rel="stylesheet">
    <link href="/site_media/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
   <style type="text/css" title="currentStyle">
        @import "/site_media/DataTables-1.9.4/media/css/demo_page.css";
        @import "/site_media/DataTables-1.9.4/media/css/demo_table.css";
        @import "/site_media/DataTables-1.9.4/media/css/demo_table_jui.css";
	</style>
	<script type="text/javascript" language="javascript" src="/site_media/DataTables-1.9.4/media/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="/site_media/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
  <script src="/site_media/dist/js/stickUp-master/stickUp.min.js"></script>

  
  <script type="text/javascript" charset="utf-8">
     window.UEDITOR_HOME_URL = "/site_media/ueditor/";
  </script>
  <script type="text/javascript" charset="utf-8" src="/site_media/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/site_media/ueditor/ueditor.all.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/site_media/ueditor/ueditor.parse.js"></script>
  <link rel="stylesheet" type="text/css" href="/site_media/ueditor/themes/default/ueditor.css"/>    
  </head>
  <body style="padding-top:70px" onload="display();">
    <div class="container">      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		    <ul class="nav nav-tabs">
          <li><a href="/index/problemList">Home Page</a></li>
		    	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{userID}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/index/manager/">Admin</a></li>
              <li><a href="/index/userInfo/{{userID}}">User Info</a></li>
              <li><a href="/index/login?login_out=true">Login out</a></li>
            </ul>
          </li>
        </ul>
    <marquee id="affiche" align="left" behavior="alternate" bgcolor="#FFFFFF" direction="right" width=100%  loop="-1" scrollamount="1" scrolldelay="10" onMouseOut="this.start()" onMouseOver="this.stop()">
        <font color=red>新OJ还在建设当中，欢迎大家提出一些实用的需求，Orz.......763687347@qq.com
      </marquee>
      </nav>
      
      <!--content-->
      <div class="row">
        <!--main-->
        <div class="col-md-10" role="main"> 
          <div class="modal fade" id="uploadList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onkeydown="keyreg();"> 
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <center><h4 class="modal-title">上传</h4></center>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-5 col-md-offset-3">
                      {% for field in uf%}
                        <div class="form-group">
                          {{field}}
                        </div>
                        <div class="form-group">
                          {{field.errors}}
                        </div>
                    {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
            <!--批量注册-->
          <div class="bs-docs-section">
            <h4 id="batchReg" class="page-header">批量注册</h4>
            <div class="row">
            <div class="col-md-4">  
              <h5>上传</h5>
            <form class="form-horizontal" role="form">{% csrf_token %}
              <div class="form-group col-sm-7">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#uploadList">Submit list</button>
              </div>
              </form>
            </div>
            <div class="col-md-4">  
            <h5>注册</h5>
              <form class="form-horizontal" role="form" action="/index/manager/" method="post">{% csrf_token %}
                <div class="form-group col-sm-8">
                  <input type="number" class="form-control" id="contestID" name="contestID" placeholder="Contest ID">
                </div>
                <div class="form-group col-sm-8">
                  <button type="submit" class="btn btn-primary btn-block">Batch register</button>
                </div>
              </form>
            </div>
            <div class="col-md-4">  
            <h5>下载</h5>
              <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
                <div class="form-group col-sm-8">
                  <input type="text" class="form-control" id="contestID" name="contestID" placeholder="Contest ID">
                </div>
                <div class="form-group col-sm-8">
                  <button type="submit" class="btn btn-primary btn-block">Download list</button>
                </div>
              </form>
            </div>
            </div>
          </div>
          <!--题目管理-->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onkeydown="keyreg();">
            <form class="form-horizontal" role="form" action="/index/addproblem/" method="post">{% csrf_token %}
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header"> 
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <center><h4 class="modal-title">添加题目</h4></center>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                    <div class="col-md-12">
                      <h4>problem id:</h4>
                      <input type = "number" class="form-control" id = 'p_Id' name = 'p_Id' value = "{{ problem.problemID }}">
					            <h4>problem title:</h4>
					            <input type = "text" class="form-control" id = 'problem_title' name = 'problem_title' value = "{{problem.title}}">
					            <h4>time limit:</h4>
					            <input type = "number" class="form-control" id = 'problem_tlimit' name = 'problem_tlimit' value = "{{problem.timeLimit}}">
					            <h4>memory limit:</h4>
					            <input type = "number" class="form-control" id = 'problem_mlimit' name = 'problem_mlimit' value = "{{problem.memoryLimit}}">
					            <h4>description</h4>
					            <h6>(如果需要添加图片，请先把图片上传至服务器<a href = "/index/uploadimage">(上传地址)</a>，然后点击多图上传-插入图片，然后在地址中输入/site_media/images/题目ID/图片名称.后缀（可以调整大小）)</h6>
					            <textarea id="problem_des" name="problem_des" style="width:550px;line-height:18px;min-height:200px"> {{problem.description}}</textarea> 
					            <h4>input</h4>
					            <textarea id = "problem_input" class="form-control" name = "problem_input" style="width:550px; height:200px" >{{problem.input}}</textarea>
					            <h4>output</h4>
					            <textarea id = "problem_output" class="form-control" name = "problem_output" style="width:550px; height:200px">{{problem.output}}</textarea>
					            <h4>sample input</h4>
					            <textarea id = "problem_sinput" class="form-control" name = "problem_sinput" style="width:550px;height:200px">{{problem.sampleInput}}</textarea>
	                    <h4>sample output</h4>
					            <textarea id = "problem_soutput" class="form-control" name = "problem_soutput" style="width:550px; height:200px">{{problem.sampleOutput}}</textarea>
					            <h4>hint</h4>
					            <textarea id = "problem_hint" class="form-control" name = "problem_hint" style="width:550px; height:200px" >{{problem.title}}</textarea>
					            <h4>author</h4>
					            <input type = "text" class="form-control" id = "problem_author" name = "problem_author" value = "{{problem.author}}">
					            <h4>visible
					            </h4>
					            请输入True或者False
                      <input type = "boolean" class="form-control" id = "problem_visible" name = "problem_visible" value = "{{problem.visible}}">
                      <input checked = "checked" id = "problem_visible1" name = "problem_visible1" type = "checkbox"> visible
                    </div>
                    </div>
				          </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id = "reg" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal fade" id="uploadData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onkeydown="keyreg();"> 
            <form class="form-horizontal" enctype = "multipart/form-data" role="form" action="/index/uploaddata/" method="post">{% csrf_token %}
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <center><h4 class="modal-title">上传数据</h4></center>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                          <input type="number" class="form-control" placeholder="Problem ID" id="p_Id" name="p_Id">
                        </div>
                        <div class="form-group">
                          <input type="file" name="file" multiple="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onkeydown="keyreg();"> 
            <form class="form-horizontal" enctype = "multipart/form-data" role="form" action="/index/uploadimage/" method="post">{% csrf_token %}
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <center><h4 class="modal-title">上传图片</h4></center>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                          <input type="number" class="form-control" placeholder="Problem ID" id="p_Id" name="p_Id">
                        </div>
                        <div class="form-group">
                          <input type="file" name="image" multiple="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="bs-docs-section">
            <h4 id="manageProblem" class="page-header">题目管理</h4> 
            <div class="row">
            <div class="col-md-4">  
              <h5>添加题目</h5>
              <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
              <div class="form-group col-sm-8">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Add problem</button>
              </div>
              </form>
            </div>
            <div class="col-md-4">  
              <h5>修改题目</h5>
              <form class="form-horizontal" role="form" action="/index/modifyproblem/" method="post">{% csrf_token %}
                <div class="form-group col-md-8">
                  <input type="number" class="form-control" id="problem_id" name="problem_id" placeholder="Problem ID" value="{{problem.problemID}}">
                </div>
                <div class="form-group col-sm-8">
                  <button type="submit" name="gpd" class="btn btn-primary btn-block">Get problemDetail</button>
                </div>
                <div class="form-group col-sm-8">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" id="modify">Modify problem</button>
                </div>
              </form>
            </div>
            </div>
            <div class="row">
            <div class="col-md-4">  
            <h5>上传数据</h5>
              <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
                <div class="form-group col-sm-8">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#uploadData">Upload data</button>
                </div>
                </form>
            </div>
            <div class="col-md-4">  
            <h5>上传图片</h5>
              <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
                <div class="form-group col-sm-8">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#uploadImage">Upload image</button>
                </div>
              </form>
            </div>
            </div>
          </div>
          <div class="bs-docs-section">
           <h4 id="rejudge" class="page-header">Rejudge</h4>
            <div class="row">
            <div class="col-md-4">  
              <h5>比赛</h5>
            <form class="form-horizontal" role="form">{% csrf_token %}
              <div class="form-group col-sm-8">
                <input type="number" class="form-control" id="reContest_id" name="reContest_id" placeholder="Contest ID">
              </div>
              <div class="form-group col-sm-8">
                <a type="button" id="rejudgeOne" class="btn btn-primary btn-block" href="javascript:void(0)" onclick="rejudge_one();return false;">Rejudge it!</a>
              </div>
              </form>
            </div>
            <div class="col-md-4">  
            <h5>题库</h5>
              <form class="form-horizontal" role="form" method="post">{% csrf_token %}
              <div class="form-group col-sm-8">
                <input type="number" class="form-control" id="reProblem_id" name="reProblem_id" placeholder="Problem ID">
              </div>
              <div class="form-group col-sm-8">
                <a type="button" class="btn btn-primary btn-block" href="javascript:void(0)" onclick="rejudge_two(); return false;">Rejudge it!</a>
              </div>
              </form>
            </div>
            <div class="col-md-4">  
            <h5>比赛题目</h5>
              <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
                <div class="form-group col-sm-8">
                  <input type="number" class="form-control" id="reCon_id" name="reCon_id" placeholder="Contest ID">
                </div>
              <div class="form-group col-sm-8">
                <input type="number" class="form-control" id="reConPro_id" name="reConPro_id" placeholder="Problem ID">
              </div>
              <div class="form-group col-sm-8">
                <a type="button" class="btn btn-primary btn-block" href="javascript:void(0)" onclick="rejudge_three(); return false;">Rejudge it!</a>
              </div>
              </form>
            </div>
            </div>
          </div>
        </div><!--main-->

        <!--menu-->
        <div class="col-md-2">
          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary" style="padding-top:70px;">
            <ul class="nav bs-docs-sidenav">
              <li><a href="#batchReg">批量注册</a></li>
              <li><a href="#manageProblem">题目管理</a></li>
              <li><a href="#rejudge">Rejudge</a></li>
            </ul>
            <a class="back-to-top" href="#top">Top</a>
          </div>
        </div><!--menu-->
      </div><!--content-->
    </div>

  <script> 
    var ue=new UE.ui.Editor();
    ue.render('problem_des');
  </script>
  <script>
    function display() {
      var obj = document.getElementById('modify');
      var val = document.getElementById('problem_id').value;
      if(val == "") obj.style.display = "none";
      else obj.style.display = "blcok";
    }
     $(document).ready(function(){
         $('input').iCheck({
               checkboxClass: 'icheckbox_flat-green',
             });
      });
    function rejudge_one() {
      var val = document.getElementById('reContest_id').value;
      var url = "http://115.28.170.176/index/rejudgeContest";
      if(val == "") url = url + "/0/";
      else url = url + "/" + val + "/";
      window.location.href = url;
    }
    function rejudge_two() {
      var val = document.getElementById('reProblem_id').value;
      var url = "http://115.28.170.176/index/rejudgeProblem";
      if(val == "") url = url + "/0/";
      else url = url + "/" + val + "/";
      window.location.href = url;
    }
    function rejudge_three() {
      var val = document.getElementById('reCon_id').value;
      var valtwo = document.getElementById('reConPro_id').value;
      var url = "http://115.28.170.176/index/rejudgeContestProblem/contest";
      if(val == "") url = url + "/0/";
      else url = url + "/" + val + "/";
      if(valtwo == "") url = url + "problem/0/";
      else url = url + "problem/" + val + "/";
      
      window.location.href = url;
    }
  </script>
  </body>
</html>
