{% extends "cugbacm/base.html" %}
{% block content %}
  <div class="container">
  <table class="table table-hover">
    <thead>
      <th width="20%" style="text-align:left;">题目id</th>
      <th width="20%">标题</th>
      <th width="20%">时间限制(ms)</th>
      <th width="20%">内存限制(kb)</th>
      <th width="20%">AC数</th>
    </thead>
    <tbody>
      {% for problem in problems %}
        <tr>
          <td style="text-align:left;">
            <a href="/problem/{{problem.problem_id}}">
              {{problem.problem_id}}
            </a>
          </td>
          <td style="text-align:left;">
            <a href="/problem/{{problem.problem_id}}">
              {{problem.title}}
            </a>
          </td>
          <td>{{problem.time_limit}}</td>
          <td>{{problem.memory_limit}}</td>
          <td>{{problem.ac}}</td>
        </tr>
      {% endfor %}  
    </tbody>
  </table>
  <center>{% include 'cugbacm/pagination.html' %}</center>
  </div>
{% endblock %}
