<html lang="zh-cn">
  <head>
    {% load pagination_tags  %} 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >

    <title>{{problem.title}}</title>

    <link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
   <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <script type="text/javascript" src="/site_media/dist/js/bootstrap.js"></script>
   <!-- <script src="/site_media/run_prettify.js"></script>
   <script type="text/javascript" src="/site_media/bootstrap-affix.js"></script>-->

   <!-- <script charset="utf-8" src="/site_media/kindeditor_a5/kindeditor-4.1.10/kindeditor.js"></script>
   <script charset="utf-8" src="/site_media/kindeditor_a5/kindeditor-4.1.10/lang/zh_CN.js"></script>-->

    <style type="text/css" title="currentStyle">
        @import "/site_media/DataTables-1.9.4/media/css/demo_page.css";
        @import "/site_media/DataTables-1.9.4/media/css/demo_table.css";
        @import "/site_media/DataTables-1.9.4/media/css/demo_table_jui.css";
  </style>
  <script type="text/javascript" language="javascript" src="/site_media/DataTables-1.9.4/media/js/jquery.js"></script>
  <script type="text/javascript" language="javascript" src="/site_media/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>

   <!-- <link href="grid.css" rel="stylesheet">--><!--media中找不到-->

  </script>
  <body style="padding-top:70px">
    <!--<div class="container">-->
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-12">
            <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="/index/problemList/">Problem List</a>
                </li>
                <li>
                  <a href="/index/submitList/">Submit List</a>
                </li>
                <li>
                  <a href="/index/contestList">Contest List</a>
                </li>
                <li>
                  <a href="/index/userList">User List</a>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{userID}}<span class="caret"></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/index/userInfo/{{userID}}">User Info</a>
                    </li>
                    <li>
                      <a href="#">设置栏目</a>
                    </li>
                    <li>
                      <a href="#">更多设置</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a href="/index/login/">Login Out</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <marquee id="affiche" align="left" behavior="alternate" bgcolor="#FFFFFF" direction="right"  width=100%  loop="-1" scrollamount="1" scrolldelay="10" onMouseOut="this.start()" onMouseOver="this.stop()">
                <font color=red>新OJ还在建设当中，欢迎大家提出一些实用的需求，Orz.......763687347@qq.com
              </marquee>
            </nav>
          </div>
          <div class="row-fluid" >
            <div class="col-md-7" role="main">
              <h2>[{{problem.problemID}}] {{problem.title}}</h2>
              <div>
                <p>Time Limit: {{problem.timeLimit}}ms</p>
                <p>Memory Limit: {{problem.memoryLimit}}KB</p>
                <p>(Accepted/Total Submit) {{problem.ac}}/{{problem.totalSubmission}}</p>
              </div>
              <h3>
                description
              </h3>
              <pre>{% autoescape off %}{{problem.description}}{% endautoescape%}</pre>
              <h3>
                input
              </h3>
              <pre>{% autoescape off %}{{problem.input}}{% endautoescape%}</pre>
              <h3>
                output
              </h3>
              <pre>{% autoescape off %}{{problem.output}}{% endautoescape%}</pre>
              <h3>
                sample input
              </h3>
              <pre>{% autoescape off %}{{problem.sampleInput}}{% endautoescape%}</pre>
              <h3>
                sample output
              </h3>
              <pre>{% autoescape off %}{{problem.sampleOutput}}{% endautoescape%}</pre>
              <h3>
                author
              </h3>
              <pre>
                {% autoescape off %}
                  {{problem.author}}
                {% endautoescape%}
              </pre>
           </div>
            <div class="col-md-5" style="padding-top:20px;">
             <div data-spy="affix">
              <div>
                <form class="form-horizontal" role="form" action="/index/problem/{{problem.problemID}}" method="post" >{% csrf_token %} 
                  <div class="form-group">
                    <label for="language" class="col-md-2 control-label">Language</label>
                      <div class="col-md-5 col-md-offset-1">
                        <select id="language" class="form-control" name="language" >
                        {% for var in languages %} 
			  {% ifequal var submit.language %}
			    <option selected>{{var}}</option>
			  {% else %}
			    <option>{{var}}</option>	
			  {% endifequal %}	
			{% endfor %}
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                    <textarea name="code" class="form-control" rows=10>{{submit.code}}</textarea>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary " type="submit">Submit</button>
                  </div>
                 
                </form>
              </div>
              {% autopaginate submits 10 %}
              <div class="table-responsive pagination-centered">
              <table cellpadding="0" cellspacing="0" border="0" class="display" id="example"> 
                <thead>  
                  <tr>  
                    <th>RunID</th>
                    <th>Status</th> 
                    <th>Language</th>
                    <th>Time Submit</th> 
                    <!--<th>Code</th>--> 
                  </tr>  
                  </thead>  
                <tbody>
                {% for submit in submits %}
                  <tr class="odd gradeX">
                    <td>{{submit.id}}</td>
                    <td>{{submit.status}}</td> 
                    {% ifequal submit.userID userID %} 
                      <td><a href="/index/problem/{{submit.problemID}}?submit={{submit.id}}">{{submit.language}}</a></td>
                    {% else %}
                      <td>{{submit.language}}</td>
                    {% endifequal %}  
                    <td>{{submit.date}} {{submit.timestamp}}</td> 
                    <!--<td>{{submit.code}}</td> -->
                  </tr>
                {% endfor %}  
                </tbody>  
              </table>
              </div>
              {% paginate %}
              <script>
             <!-- $('#navbar').scrollspy()-->
            $(document).ready(function() {
              $('#example').dataTable({
                "bPaginate": false,
                "aaSorting":[[0,'desc']],
                "bFilter": false,
              });
            } );
              </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--</div>-->
  </body>
</html>
