<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >

    <title>{{problem.title}}</title>

    <link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">
    <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <script type="text/javascript" src="/site_media/dist/js/bootstrap.js"></script>
    <script src="/site_media/run_prettify.js"></script>

    <script charset="utf-8" src="/site_media/kindeditor_a5/kindeditor-4.1.10/kindeditor.js"></script>
    <script charset="utf-8" src="/site_media/kindeditor_a5/kindeditor-4.1.10/lang/zh_CN.js"></script>

    <link href="grid.css" rel="stylesheet">
  </head>

  </script>

  <body style="padding-top:70px">
    <div class="container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-12">
            <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="/index/problemList/">Problem List</a>
                </li>
                <li>
                  <a href="/index/submitList/">Submit List</a>
                </li>
                <li>
                  <a href="/index/userList">User List</a>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{userID}}<span class="caret"></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/index/userInfo">User Info</a>
                    </li>
                    <li>
                      <a href="#">设置栏目</a>
                    </li>
                    <li>
                      <a href="#">更多设置</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a href="/index/login/">Login Out</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <marquee id="affiche" align="left" behavior="alternate" bgcolor="#FFFFFF" direction="right" height="20" width=100%  loop="-1" scrollamount="1" scrolldelay="10" onMouseOut="this.start()" onMouseOver="this.stop()">
                <font color=red>新OJ还在建设当中，欢迎大家提出一些实用的需求，Orz.......763687347@qq.com
              </marquee>
            </nav>
          </div>
          <div class="row-fluid" >
            <div class="col-md-8" role="main">
              <h1>[{{problem.problemID}}] {{problem.title}}</h1>
              <div>
                <p>Time Limit: {{problem.timeLimit}}ms</p>
                <p>Memory Limit: {{problem.memoryLimit}}KB</p>
                <p>(Accepted/Total Submit) {{problem.acceptedSubmission}}/{{problem.totalSubmission}}</p>
              </div>
              <h2>
                description
              </h2>
              <p>{% autoescape off %}{{problem.description}}{% endautoescape%}</p>
              <h2>
                input
              </h2>
              <p>{% autoescape off %}{{problem.input}}{% endautoescape%}</p>
              <h2>
                output
              </h2>
              <p>{% autoescape off %}{{problem.output}}{% endautoescape%}</p>
              <h2>
                sample input
              </h2>
              <p>{% autoescape off %}{{problem.sampleInput}}{% endautoescape%}</p>
              <h2>
                sample output
              </h2>
              <p>{% autoescape off %}{{problem.sampleOutput}}{% endautoescape%}</p>
              <h2>
                author
              </h2>
              <p>
                {% autoescape off %}
                  {{problem.author}}
                {% endautoescape%}
              </p>
            </div>
            <div class="col-md-4" style="padding-top:20px">
              <div  class="affix-top" role="complementary">
                <form class="form-horizontal" role="form" action="/index/problem/{{problem.problemID}}/submit" method="post">{% csrf_token %} 
                  <div class="form-group">
                    <label for="language" class="col-md-2 control-label">Language</label>
                      <div class="col-md-5 col-md-offset-1">
                        <select id="language" class="form-control" name="language">
                          <option>g++</option>
                          <option>gcc</option>
                          <option>java</option>
                          <option>python2</option>
                          <option>python3</option>
                        </select>
                      </div>
                  </div>

                  <div class="form-group">
                    <textarea class="form-control" rows="8" name="code" width=100%>{{submit.code}}</textarea>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary " type="submit">Submit</button>
                  </div>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
