<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >

    <title>{{problem.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <div class="page-header">
        <h1>{{problem.title}}</h1>
      </div>

      <h3>Description</h3>
      <div class="row">
        <div class="col-md-4"><p>{% autoescape off %}{{problem.description}}{% endautoescape %}</p></div>
      </div>

      <h3>Input</h3>
      <div class="row">
        <div class="col-md-4"><p>{% autoescape off %}{{problem.input}}{% endautoescape %}</p></div>
      </div>
      
      <h3>Output</h3>
      <div class="row">
        <div class="col-md-4"><p>{% autoescape off %}{{problem.output}}{% endautoescape %}</p></div>
      </div>
      
      <h3>Sample Input</h3>
      <div class="row">
        <div class="col-md-4"><p>{% autoescape off %}{{problem.sampleInput}}{% endautoescape %}</p></div>
      </div>
      
      <h3>Sample Output</h3>
      <div class="row">
        <div class="col-md-4"><p>{% autoescape off %}{{problem.sampleOutput}}{% endautoescape %}</p></div>
      </div>

      <a href="/index/problem/{{problem.problemID}}/submit" class="btn btn-primary btn-lg active" role="button">Submit</a>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
