<!DOCTYPE html>
<html lang="zh-cn">
{% load pagination_tags %} 
{% include 'cugbacm/head.html' %}
  <body style="padding-top:70px">
    <div class="container">      
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		    <ul class="nav nav-tabs">
          <li class="active"><a href="/index/problemList">Problem List</a></li>
			    <li><a href="/index/submitList">Submit List</a></li>
          <li><a href="/index/contestList">Contest List</a></li>
		    	<li><a href="/index/userList">User List</a></li>
		    	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{userID}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/index/manager/">Admin</a></li>
              <li><a href="/index/userInfo/{{userID}}">User Info</a></li>
              <li><a href="/index/login?login_out=true">Login out</a></li>
            </ul>
          </li>
        </ul>
    <marquee id="affiche" align="left" behavior="alternate" bgcolor="#FFFFFF" direction="right" width=100%  loop="-1" scrollamount="1" scrolldelay="10" onMouseOut="this.start()" onMouseOver="this.stop()">
    <font color=red>新OJ还在建设当中，欢迎大家提出一些实用的需求，Orz.......763687347@qq.com &nbsp; &nbsp; &nbsp; <a href="http://115.28.170.176/index/downloadfile/11">第八届程序设计竞赛题解</a>
      </marquee>
     <div class="row">
      <div style="text-align:center;">
    <form class="form-inline" role="form" action="/index/problemList/" method="post">{% csrf_token %}
      <div class="form-group">
        <label class="sr-only" for="problemID">Problem ID</label>
        <input type="text" class="form-control" id="problemID" name="problemID" placeholder="Problem ID" value={{problemID}}>
      </div>
      <div class="form-group">
        <label class="sr-only" for="problemTitle">Problem Title</label>
        <input type="text" class="form-control" id="problemTitle" name="problemTitle" placeholder="Problem Title" value={{problemTitle}}>
      </div>
      <div class="form-group">
        <label class="sr-only" for="problemAuthor">Problem Author</label>
        <input type="text" class="form-control" id="problemAuthor" name="problemAuthor" placeholder="Problem Author" value={{problemAuthor}}>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>
    </div>
      </nav>
    {% autopaginate problem_list 50 %}
    <div class="table-responsive" style="padding-top:58px">
 <table cellpadding="0" cellspacing="0" border="0" class="display center" id="example">
	    <thead>  
          <tr>  
            <th>ProblemID</th>
            <th>Title</th>  
            <th>Time Limit</th>
            <th>Memory Limit</th>
            <th>Accepted Submission</th>
            <th>Total Submission</th>  
          </tr>  
        </thead>  
        <center>{% paginate %}</center>
        <tbody>
          {% for problem in problem_list %}
            <tr class="odd gradeB">
              <td style="text-align:right;">
                {% ifequal problem.0 "1" %}
                <img src="/site_media/dist/images/accept.png">
                {% else %}
                 {%ifequal problem.0 "2" %} 
                   <img src="/site_media/dist/images/wrong.png">
                    {% else %}
                 {% endifequal %}
                {% endifequal %}
                <a href="/index/problem/{{problem.1.problemID}}">
                  {{problem.1.problemID}}
                </a>
              </td>
              <td style="text-align:left;">
                <a href="/index/problem/{{problem.1.problemID}}">
                  {{problem.1.title}}
                </a>
              </td>
              <td>{{problem.1.timeLimit}}</td>
              <td>{{problem.1.memoryLimit}}</td>
              <td>{{problem.1.ac}}</td>
              <td>{{problem.1.totalSubmission}}</td>
            </tr>
          {% endfor %}  
        </tbody>  
      </table>
    </div>
    <center>{% paginate %}</center>
    <script>
	      $(document).ready(function() {
	      	$('#example').dataTable({
	      	"bPaginate": false,
          "bFilter": false,
          "bInfo": false,
          "bSort": false,
	      	});
		} );
	</script>
  <script type="text/javascript">
  //initiating jQuery
  jQuery(function($) {
  $(document).ready( function() {
  //enabling stickUp on the '.navbar-wrapper' class
  $('.navbar-wrapper').stickUp();
  });
  });
</script>
	</div>
  </body>
</html>
