{% extends "cugbacm/base.html" %}
{% block content %}
  <div class="container">
  <table class="table table-hover">
    <thead>
      <th width="10%" style="text-align:left;">提交id</th>
      <th width="6%">用户</th>
      <th width="6%">题目</th>
      <th width="15%">状态</th>
      <th width="10%">内存(KB)</th>
      <th width="10%">运行时间</th>
      <th width="10%">代码长度</th>
      <th width="6%">语言</th>
      <th width="25%">提交时间</th>
    </thead>
    <tbody>
      {% for submit in submits %}
        <tr>
          <td style="text-align:left;">
            {{submit.submit_id}}
          </td>
          <td style="text-align:left;">
            {{submit.user.nickname}}
          </td>
          <td>
            <a href="/problem/{{submit.problem.problem_id}}">
              {{submit.problem.problem_id}}
            </a>
          </td>
          <td style="text-align:left;">
            {{submit.status}}
          </td>
          <td>{{submit.memory}}kb</td>
          <td>{{submit.run_time}}ms</td>
          <td>{{submit.code_length}}b</td>
          <td>{{submit.language}}</td>
          <td>{{submit.date}}</td>
        </tr>
      {% endfor %}  
    </tbody>
  </table>
  <center>{% include 'cugbacm/pagination.html' %}</center>
  </div>
{% endblock %}
