<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >

    <title>Submit List</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="signin.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li><a href="/index/problemList">Problem List</a></li>
      <li class="active"><a href="/index/submitList">Submit List</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
    <div class="table-responsive">
      <table class="table table-hover"> 
        <thead>  
          <tr>  
            <th>RunID</th>
            <th>UserID</th>  
            <th>ProblemID</th>
            <th>Status</th> 
            <th>Memory</th>
            <th>RunTime</th>
            <th>CodeLength</th>  
            <th>Language</th>
            <th>Time Submit</th> 
            <!--<th>Code</th>--> 
          </tr>  
        </thead>  
        <tbody>
          {% for submit in submits %}
            <tr >
              <td>{{submit.id}}</td>
              <td><a href="#" target="_blank">{{submit.userID}}</a></td>
              <td><a href="/index/problem/{{submit.problemID}}" target="_blank">{{submit.problemID}}</a></td>
              <td>{{submit.status}}</td> 
              <td>{{submit.memory}}</td>
              <td>{{submit.runTime}}</td>
              <td>{{submit.codeLength}}</td>  
              <td><a href="#">{{submit.language}}</a></td>
              <td>{{submit.date}} {{submit.timestamp}}</td> 
              <!--<td>{{submit.code}}</td> -->
              </tr>
          {% endfor %}  
        </tbody>  
      </table>
    </div>

  </body>
</html>