<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cugbacm" >
    <script type = "text/javascript" src = "/site_media/dist/js/jquery-2.1.0.min.js"> </script>
    <script type="text/javascript" src="/site_media/dist/js/bootstrap.js"></script>

    <title>Problem List</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="signin.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top:50px">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav nav-tabs">
      <li><a href="/index/problemList">Problem List</a></li>
      <li><a href="/index/submitList">Submit List</a></li>
      <li><a href="/index/userList">User List</a></li>
      <li class="active" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {{userID}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/index/userInfo">User Info</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="/index/login">Login out</a></li>
        </ul>
      </li>
    </ul>
    <marquee id="affiche" align="left" behavior="alternate" bgcolor="#FFFFFF" direction="right" height="20" width=100%  loop="-1" scrollamount="1" scrolldelay="10" onMouseOut="this.start()" onMouseOver="this.stop()">
      <font color=red>新OJ还在建设当中，欢迎大家提出一些实用的需求，Orz.......763687347@qq.com
    </marquee>
  </nav>
    <div class="container" >

      <form class="form-signin" role="form" action="/index/userInfo/" method="post">{% csrf_token %} 
        <h2 class="form-signin-heading">Please modify your information</h2>
        <input type="text" class="form-control"  readonly= "true " placeholder="UserID" value="{{user.userID}}" name="userID" required>
        <input type="password" class="form-control" placeholder="Old Password" name="oldPassword"  required>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
        <input type="text" class="form-control" placeholder="Session" value="{{user.session}}" name="session" required>
        <input type="text" class="form-control" placeholder="Specialty" value="{{user.specialty}}"name="specialty" required>
        <input type="text" class="form-control" placeholder="Tel" value="{{user.tel}}"name="tel" required>
        <input type="text" class="form-control" placeholder="Email" value="{{user.email}}"name="email" required>
        <input type="text" class="form-control" placeholder="Nickname" value="{{user.nickname}}"name="nickname" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Modify</button>
      </form>

    </div> <!-- /container -->
   </body>
  </body>
</html>
