<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer container">
    <div id="footer-info" class="inner">
      <a href="<%= config.root %>"><%= config.title %></a> &copy; <%= date(new Date(), 'YYYY') %> Powered by <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a> and Theme by <a href="https://github.com/seff/nut" target="_blank">Nut</a>
    </div>
  </div>
</footer>
<a id="gotop" href="#">
  <i class="fa fa-chevron-up"></i>
</a>
