<div class="widget-wrap">
  <div class="post-widget">
    <i class="fa fa-clock-o"></i>
    <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%= date(page.date, null) %></time>
  </div>
</div>
